<div translate="STRING.KEY_FROM_DIRECTIVE_VIEW.EXIST_IN_ALL_LOCALES"></div>
<div translate='STRING.KEY_FROM_DIRECTIVE_VIEW.EXIST_IN_ONE_LOCALE'></div>
<div translate="'STRING.KEY_FROM_DIRECTIVE_VIEW.ABSENT_IN_ALL_LOCALES'"></div>
<div [translate]="OBJECT.KEY_FROM_DIRECTIVE_VIEW.EXIST_IN_ALL_LOCALES"></div>

<div translate>STRING.KEY_FROM_DIRECTIVE_INSIDE_TAG_VIEW.EXIST_IN_ALL_LOCALES</div>
<div anotherDirective translate anotherDirective>STRING.KEY_FROM_DIRECTIVE_INSIDE_TAG_VIEW.EXIST_IN_ONE_LOCALE</div>
<div translate>
    OBJECT.KEY_FROM_DIRECTIVE_INSIDE_TAG_VIEW.ABSENT_IN_ALL_LOCALES
</div>
